<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Siddhi-Map-Binarypassthrough-Test-Suite">
    <test name="Siddhi-map-binarypassthrough-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="io.siddhi.extension.map.binarypassthrough.sinkmapper.TestCaseOfBinarypassthroughSinkMapper"/>
            <class name="io.siddhi.extension.map.binarypassthrough.sourcemapper.TestCaseOfBinarypassthroughSourceMapper"/>
        </classes>
    </test>
</suite>
